.password-section {
  padding: 19px 32px;
  background-color: #24232c;
  margin-top: 31px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.password-section h1 {
  font-size: 24px;
  color: #e6e5ea;
}
svg {
  cursor: pointer;
}
svg path:hover {
  fill: white;
}
@media screen and (min-width: 768px) {
  .password-section h1 {
    font-size: 32px;
  }
}
