:root {
    --primary-black: #24232c;
    --primary-grey: hsl(251, 9%, 53%);
    --primary-white:  #e6e5ea;
    --primary-dark-black: #18171f;
    --primary-green: #A4FFAF;
    --primary-red: #f64a4a;
    --primary-orange: #fb7c58;
    --primary-yellow: #f8cd65;
  }
  